{% load i18n tessera %}
{% translate "Sphere settings sections" as t_tablist_label %}
{% tabs aria_label=t_tablist_label %}
    {% tab "general" href=tab_urls.general %}
        {% translate "General" %}
    {% endtab %}
    {% tab "announcements" href=tab_urls.announcements %}
        {% translate "Organization announcements" %}
    {% endtab %}
    {% tab "guilds" href=tab_urls.guilds %}
        {% translate "Guilds" %}
    {% endtab %}
    {% tab "connections" href=tab_urls.connections %}
        {% translate "Import connections" %}
    {% endtab %}
    {% tab "mcp" href=tab_urls.mcp %}
        {% translate "MCP access" %}
    {% endtab %}
{% endtabs %}
