{% load i18n %}
{% load tessera %}
{% translate "Sphere settings sections" as t_tablist_label %}
<div class="bg-bg-tertiary px-3 pt-2 border-b border-border">
    {% tabs aria_label=t_tablist_label %}
    {% tab "general" active=is_general_tab href=tab_urls.general %}{% translate "General" %}{% end_tab %}
    {% tab "announcements" active=is_announcements_tab href=tab_urls.announcements %}{% translate "Organization announcements" %}{% end_tab %}
    {% tab "connections" active=is_connections_tab href=tab_urls.connections %}{% translate "Import connections" %}{% end_tab %}
{% end_tabs %}
</div>
