{% extends "panel/base.html" %}
{% load i18n %}
{% load tessera %}
{% block title %}
    {% translate "New guild" %}
{% endblock title %}
{% block page_title %}
    {% translate "New guild" %}
{% endblock page_title %}
{% block page_subtitle %}
    {{ current_sphere.name }}
{% endblock page_subtitle %}
{% block content %}
    <div class="p-4 lg:p-6">
        <form method="post" enctype="multipart/form-data" class="card p-6 max-w-2xl">
            {% csrf_token %}
            {% tessera_errors form %}
            {% include "multiverse/panel/guilds/_form.html" %}
            <div class="mt-6 flex items-center gap-3">
                {% translate "Create guild" as t_create %}
                {% tessera_button t_create icon="plus" full_width_mobile=False %}
                {% translate "Cancel" as t_cancel %}
                {% url 'multiverse:panel:guilds' as cancel_url %}
                {% tessera_button t_cancel href=cancel_url variant="secondary" %}
            </div>
        </form>
    </div>
{% endblock content %}
