{% extends "panel/base.html" %}
{% load i18n %}
{% load tessera %}
{% block title_prefix %}
    {% translate "Edit discount" %} -
{% endblock title_prefix %}
{% block page_title %}
    {% translate "Edit discount" %}
{% endblock page_title %}
{% block page_subtitle %}
    {% if current_event %}
        {{ current_event.name }}
    {% endif %}
{% endblock page_subtitle %}
{% block content %}
    {% if current_event %}
        <div class="card p-6 max-w-xl">
            <form method="post"
                  class="space-y-4"
                  action="{% url 'panel:discount-edit' slug=current_event.slug pk=discount.pk %}"
                  onsubmit="this.querySelector('button[type=submit]').disabled = true">
                {% csrf_token %}
                {% tessera_form form %}
                <div class="flex justify-end gap-2 pt-4 border-t border-border">
                    {% url 'panel:discounts' slug=current_event.slug as discounts_url %}
                    {% translate "Cancel" as t_cancel %}
                    {% tessera_button t_cancel href=discounts_url button_type="button" variant="secondary" %}
                    {% translate "Save" as t_save %}
                    {% tessera_button t_save %}
                </div>
            </form>
        </div>
    {% endif %}
{% endblock content %}
