<div class="absolute inset-0 overflow-hidden pointer-events-none -z-50 print:hidden"
     aria-hidden="true">
    <div class="absolute -top-24 -right-24 w-96 h-96 blob opacity-100 bg-linear-to-br from-coral-500/25 to-transparent">
    </div>
    <div class="absolute top-[400px] -left-64 w-80 h-80 blob-2 opacity-100 bg-linear-to-br from-teal-500/20 to-transparent">
    </div>
    <div class="absolute bottom-[800px] right-1/4 w-72 h-72 blob opacity-100 bg-linear-to-br from-coral-500/15 to-transparent">
    </div>
    <div class="absolute top-[1200px] -left-16 -rotate-45 w-64 h-64 blob-3 opacity-100 bg-linear-to-br from-teal-500/15 to-transparent">
    </div>
</div>
