<div class="group hoverboard flex items-center gap-0.5">
    {% for item in sphere_page_nav %}
        <a href="{{ item.url }}"
           aria-current="{% if item.is_active %}page{% endif %}"
           class="font-medium px-3 py-1.5 text-sm rounded-lg transition-colors text-foreground-secondary hover:text-foreground aria-[current=page]:text-foreground group-hover:not-hover:text-foreground-secondary! before:-inset-1 relative block before:absolute group-[:not(:hover)]:aria-[current=page]:[anchor-name:--a]">
            {{ item.label }}
        </a>
    {% endfor %}
</div>
