{% load i18n tessera %}
{% tabs %}
    {% tab "general" href=tab_urls.general %}
        {% translate "General" %}
    {% endtab %}
    {% tab "proposals" href=tab_urls.proposals %}
        {% translate "Proposals" %}
    {% endtab %}
    {% tab "enrollment" href=tab_urls.enrollment %}
        {% translate "Enrollment" %}
    {% endtab %}
    {% tab "display" href=tab_urls.display %}
        {% translate "Display" %}
    {% endtab %}
    {% tab "integrations" href=tab_urls.integrations %}
        {% translate "Integrations" %}
    {% endtab %}
{% endtabs %}
