{% load i18n tessera %}
{% tabs %}
    {% tab "proposal" href=tab_urls.proposal %}
        {% translate "Summary" %}
    {% endtab %}
    {% tab "review" href=tab_urls.review %}
        {% translate "Review" %}
    {% endtab %}
    {% tab "json" href=tab_urls.json %}
        {% translate "JSON" %}
    {% endtab %}
    {% tab "run" href=tab_urls.run %}
        {% translate "Import run" %}
    {% endtab %}
    {% tab "log" href=tab_urls.log %}
        {% translate "Log" %}
    {% endtab %}
{% endtabs %}
