{% load i18n tessera %} {% url 'web:crowd:profile' as profile_url %} {% url
'web:crowd:profile-parties' as parties_url %} {% url 'web:crowd:profile-avatar'
as avatar_url %} {% url 'web:crowd:profile-safety' as safety_url %} {% tabs %}
{% if active_tab == "profile" %} {% tab "profile" icon="user" href=profile_url
    active=True %}{% translate "Personal Information" %}{% end_tab %} {% else %} {%
tab "profile" icon="user" href=profile_url %}{% translate "Personal Information"
%}{% end_tab %} {% endif %} {% if active_tab == "parties" %} {% tab "parties"
icon="users" href=parties_url active=True %}{% translate "Parties" %}{% end_tab
%} {% else %} {% tab "parties" icon="users" href=parties_url %}{% translate
"Parties" %}{% end_tab %} {% endif %} {% if active_tab == "avatar" %} {% tab
"avatar" icon="photo" href=avatar_url active=True %}{% translate "Avatar" %}{%
end_tab %} {% else %} {% tab "avatar" icon="photo" href=avatar_url %}{%
translate "Avatar" %}{% end_tab %} {% endif %} {% if active_tab == "safety" %}
{% tab "safety" icon="shield-exclamation" href=safety_url active=True %}{%
translate "Safety" %}{% end_tab %} {% else %} {% tab "safety"
icon="shield-exclamation" href=safety_url %}{% translate "Safety" %}{% end_tab
%} {% endif %} {% end_tabs %}
