{% extends "crowd/user/profile_base.html" %}
{% load i18n tessera %}
{% block title %}
    {% translate "Edit profile" %}
{% endblock title %}
{% block profile_content %}
    {% if user.confirmed_participations_count > 0 %}
        <div class="alert alert-info flex items-center gap-3 mb-4">
            {% icon "calendar-days" class="w-5 h-5 shrink-0" %}
            <span>
                {% blocktranslate count counter=user.confirmed_participations_count %}
                                You have {{ counter }} confirmed session participation.
                            {% plural %}
                                You have {{ counter }} confirmed session participations.
                            {% endblocktranslate %}
            </span>
        </div>
    {% endif %}
    <form action="{% url 'web:crowd:profile' %}" method="post">
        {% csrf_token %}
        {% tessera_form form %}
        {% translate "Save" as t_save %}
        {% tessera_button t_save %}
    </form>
{% endblock profile_content %}
